<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--
            Sort by price.

            Include columns:

            Model
            Year
            TTAF
            SMOH
        -->
        <table id="basic-listing-table">
            <thead>
                <tr>
                    <th>Listing ID</th>
                    <th>Registration</th>
                    <th>Year</th>
                    <th>Model</th>
                    <th>TTAF</th>
                    <th>SMOH</th>
                    <th>Price</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for listing in listings %}
                    <tr>
                        <td>{{listing.id}}</td>
                        <td>{{listing.registration}}</td>
                        <td>{{listing.year}}</td>
                        <td><a href="{{listing.url}}">{{listing.make_model}}</a></td>
                        <td>{{listing.ttaf}}</td>
                        <td>{{listing.smoh}}</td>
                        <td>{{"{:0.2f}".format(listing.price)}}</td>
                        <td>{{listing.last_update}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
